

.form-container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;

}


.photo-img {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 20px;
    border-radius: 50%;
}


.photo-row {
  margin-bottom: 30px;
}

.profile-content, .photo-row {
  display: flex;
  align-items: center;
}

.change-photo {
cursor: pointer;
color: #010101;
font-size: 16px;
font-weight: 400;
font-family: 'Open Sans', sans-serif;
}
.change-photo {
  font-size: 13px;
}

.delete-photo {
color: #D61043;
cursor: pointer;
font-size: 16px;
font-weight: 600;
font-family: 'Open Sans', sans-serif;
}

.delete-photo span {
color: #AFAFAF;
margin: 0 10px;
}


.form-login {
  margin-top: 120px;
}

#footer {
  position: relative;
  margin-top: -180px;
  /* negative value of footer height */
  height: 180px;
  clear: both;
  background-color: red;
}